<div *ngFor="let product of products" class="card card-body mb-2">
    <div class="row">
      <div class="col-md-8">
        <ul>
          <li>
            id: {{product._id}}
          </li>
          <li>
            name: {{product.name}}
          </li>
          <li>
            description: {{product.description}}
          </li>
          <li>
            price: {{product.price}}
          </li>
          <li>
            createdAt: {{product.createAt}}
          </li>
        </ul>
        <button *ngIf="product._id" (click)="deleteProduct(product._id)" class="btn btn-danger">
          Delete
        </button>
        <button [routerLink]="['/product/editar', product._id]" class="btn btn-secondary">
          Edit
        </button>
      </div>
      <div class="col-md-4">
        <img [src]="product.image" width="300" height="200">
      </div>
    </div>
  </div>